/*
blanco=rgb(255,255,255)
azul oscuro= rgb(21,32,43)
azul claro= rgb(29,161,242)
azul form=rgb(25,39,52)
*/
/*Se resetean los estilos iniciales*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    display: flex;
    align-items: center;
}
.sign-ip {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 9%;
    padding-top: 3%;
    padding-bottom: 9%;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
svg {
    color: white;
    height: 50px;
    margin: 15px;
}
.formUser {
    color: #649996;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-bottom: 1px solid #8899a6;
    background: #192734;
}
.forgot {
    color: #1895e0;

}
.copor {
    color: #649996;
}
.footer a {
    color: #649996;
    font-size: 13px;
    padding: 4px;
}
.scrollWhoFollow {
    height: 361px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollfeed {
    height: 630px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollbar-black {
    scrollbar-color: #72787e #17212b;
}
.bordered-black::-webkit-scrollbar-track {
    border: 1px solid #000;
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}
.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}
.thin::-webkit-scrollbar {
    width: 6px;
}
.scrolllistFollow {
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}
